!!!5
%html{lang: "en", ng-app: "app"}
  %head
    %meta{charset: "utf-8"}
    %title Cats&Candies
    %link{href: "/css/style.css", rel: "stylesheet"}
    %script{src: "/js/vendor.js"}
    %script{src: "/angular/app.js"}
  %body
    %h1 Welcome on Cats and Candies
    %div.ng-view
